{% extends "game/game21_template.html.twig" %}

{% block title %}Tjugoett{% endblock %}

{% block article %}
<article>
    <h2>DOC</h2>
    <p>
        Innan jag påbörjade kodningen ritade jag upp detta för all del enkla men dock hjälpsamma flödesschema.
        Det var en bra referens för att snabbt hitta nästa steg som skall lösas, och hålla kursen mot målet.
        <img class="card-flowchart" src="{{ asset('img/flowchart.png') }}" alt="Ett flödesschema för dekortspelet 21" height="500">

    </p>
    <hr>
    <p>
        För mer granulära funderingar var pseudokod hjälpsam.<br>
        Så här tänkte jag kring hur jag skulle lösa problemet med om ess är 14 eller 1:<br><br>
        <code>
            In Cards-Hand:<br>
            add rank-value for each card in hand to score<br>
            return score<br>
            <br>
            In Game-21-Logic:<br>
            score is score from CardsHand<br>
            IF score is larger than 21 and hand has aces<br>
            Count aces<br>
            WHILE score is larger than 21<br>
            Subtract 13 from score for each ace until score is less than 21 OR there are no more aces<br>
            return score<br>
        </code>
    </p>
    <hr>
    <p>
        Gällande klasser var jag inne på att ha player-klasser till en början, men landade i detta:
        Card
        Kortspelets kort.

        Deck
        Kortleken initierar 52 unika kort. Kan blanda och håller koll på korten.

        Hand
        En klass att förvara dragna kort, den har även praktiska men generella metoder för att visa och räkna korts värde. Den kan även kommunicera med Deck (dra kort och placera i handen).

        Game21Handler
        Här är all logik för spelet. Det är också här all kommunikation med sessions sker.
    </p>
</article>

{% endblock %}

