{% extends "game/game21_template.html.twig" %}

{% block title %}Tjugoett{% endblock %}

{% block article %}
<article class="play-21">
    <h2>Vinnare</h2>
    <div class="flash-container">
        {{ include('flash.html.twig') }}
    </div>
    <div class="cards-21">
        
    </div>

</article>

{% endblock %}

