{% extends 'book/library-template.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block article %}


<div class="example-wrapper">
    <h1>Hello booklovers!</h1>

    <h3>
        Vi har f책tt in n책gra pangtitlar
        <br><br>
    </h3>
    <h2>
        <a href="{{ path('show_books') }}">s채kra pingstl채sningen redan idag</a>!
    </h2>
</div>
{% endblock %}
