{% extends "game/card/card_template.html.twig" %}

{% block title %}Spelkort{% endblock %}

{% block article %}
<article>
    <h2>Kodstruktur</h2>
    <p>
        <img class="uml" src="{{ asset('img/mvc_card_uml.png') }}" alt="Ett UML-diagram för de kortrelaterade klasserna" height="350">
        Bakom kort och lek ligger tre klasser, Card, CardGraphic och CardsDeck.
        CardsGraphic ärver Card och lägger till en metod för att representera kortet med en unicodesymbol.
        CardsDeck kan skapa kort - en full lek eller färre, den kan dra kort, blanda leken och den håller också koll på sin storlek med mer. Då korten kan dras och
        existera utanför leken är deras förhållande en aggregation.
    </p>
</article>
{# <p class="playing-card">{{ graphic }}</p> #}

{# <p class="playing-card">
    {% for card in deck %}
        {{ card }}
    {% endfor %}
</p> #}
{% endblock %}

{# card/deck som visar samtliga kort i kortleken sorterade per färg och värde.

Skapa en sida card/deck/shuffle som visar samtliga kort i kortleken när den har blandats.

Skapa en sida card/deck/draw som drar ett kort från kortleken och visar upp det. Visa även antalet kort som är kvar i kortleken.

Skapa en sida card/deck/draw/:number #}
