{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<h1>Spelkort</h1>

<p>Detta är en uppsättning sidor för att visa spelkort.</p>
<p>{{ card.suit }} {{ card.rank }}</p>
<p class="playing-card">{{ graphic }}</p>

{% endblock %}