{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<h1>Spelkort</h1>

<p>Samtliga kort i leken:</p>
    {% for card in deck %}
        <p class="playing-card">
            {{ card }}
        </p>
    {% endfor %}

<p class="">Leken har {{ deckSize }} kort.</p>
{% endblock %}