{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<h1>Spelkort</h1>

<p>Samtliga kort i leken:</p>
<p class="playing-card">
    {% for card in deck %}
        {{ card }}
    {% endfor %}
</p>
<p class="">Leken har {{ deckSize }} kort.</p>
{% endblock %}