@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: #f5f2ea;
    margin: 0;
    padding: 0;
    border: 3px solid #325a1c;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    background-color: #F2E635;
    color: #325a1c;
    font-family: 'josefin sans', sans-serif;
    border-bottom: 3px solid #325a1c;
}

nav,
menu {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-weight: 600;
    font-size: 1rem;
    li {
        list-style: none;
    }
}

nav {
    margin: 0;
    height: 100%;
    border-left: 3px solid #325a1c;
}

a {
    color: #325a1c;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

