@use 'helpers' as *;

header{
  min-height: fit-content;
  height: unset;
  @include flex-center(row);
  justify-content: space-between;
  gap: 1em;
  background-color: $col-yellow;
  color: $main-text-color;
  font-family: $font;
  border-bottom: $border;
  position: sticky;
}

nav,
menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  font-weight: 800;
  font-size: 1.4rem;
  li {
      list-style: none;
      margin: 0;
  }
}

nav {
  margin: 0;
  height: 100%;
}

header a {
  color: #325a1c;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.mvc {
  height: 100%;
  margin: 0;
  padding: 0 1rem;
  border-right: $border;
}

.icons {
  height: 100%;
  padding: 0 1rem;
  border-left: $border;
  @include flex-center(row);
  gap: 10px;
  svg {
    height: 1.4rem;
  }
}

// .divider {
  // border-left: $border;
  // padding-left: $space-s;
// }
