@use 'helpers' as *;

.flex-row {
  @include flex-center(row);
  gap: $space-m;
  justify-content: flex-start;
  margin-bottom: $space-m;
}

.improvements {
  padding: $space-m $space-l;
  border-radius: $space-s;
  background-color: #ffffff80;
}