@use 'helpers' as *;

.playing-card {
  display: inline-block;
  font-size: 8rem;
  margin-top: $space-m;
  padding-top: $space-s;
  vertical-align: top;
}

.playing-card-black {
  @extend .playing-card;
  color: #201e1e;
}

.playing-card-red {
  @extend .playing-card;
  color: #be1010;
}
