@use 'helpers' as *;

.playing-card {
  display: inline-block;
  font-size: 8rem;
  margin-top: $space-m;
  padding: 0;
  vertical-align: top;
  // text-shadow: 1px 1px 5px $darken;
  // -webkit-text-fill-color: transparent;
}

.playing-card-black {
  @extend .playing-card;
  color: #201e1e;
}

.playing-card-red {
  @extend .playing-card;
  color: #be1010;
}

.uml {
  float: right;
  padding-left: $space-s;
}

.card-menu {
  @include flex-center(row);
  // list-style: symbols("♠");
  list-style: none;
  font-weight: 600;
  justify-content: space-evenly;
  margin-bottom: $space-l;
  border: $border;
  li{
    margin: $space-s;
  }
  a {
    text-decoration-thickness: 2px;
  }
  
}

.play-21{
  width: 68rem;
}

.cards-21,
.player,
.bank {
  width: 100%;
}

.winner{
  font-size: 3rem;
}

.card-btn{
  // word-wrap: break-word;
  white-space: normal;
  aspect-ratio: 0.66;
  height: 8rem;
  border-radius: 0.5rem;
  border: 3px solid $darken;
  background-color: darkgreen;
  color: $background;
  box-shadow: 3px 2px 3px $darken;
  scale: 1;
  transition: all 0.3s ease-in-out;
}

.card-btn:hover{
  scale: 1.01;
  rotate: 25deg y;
  box-shadow: 12px 5px 5px $darken;
}

.card-btn:active{
  box-shadow: 1px 1px 3px $darken;
  scale: 1;
  rotate: 360deg y;
}

.card-btn:disabled{
  color: $darken;
}

.card-hold-btn{
  background-color: $col-red;
}

.restart-game-btn{
  background-color: $col-red-dark;
  margin-left: auto;
}
