@use 'helpers' as *;

.report-menu {
  height: fit-content;
  justify-content: center;
  background-color: $col-yellow;
  padding: $space-s;
  margin: $space-l;
  
  a {
    color: $main-text-color;
    font-size: 1rem;
  }
  
}

.kmom {
  h2 {
    margin-top: $space-l;
  }
}