{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block main %}
    <h1>Vad hostar kvicksilvret?</h1>
    <h2>    
        Vad är det för väder på en slumpmässig plats på jorden?
    </h2>
    <p class="center">Vi får fråga vår engelske metereolog:</p>
    <small>Ladda inte om för många gånger, jag har bara 100 requests/månad</small>
    <div class="forcast"><img src="{{ icon }}"><p>Today it's {{ weather }} in {{ location }}, the temp is {{ temp }}°C</p></div>
    <h3>Vilket väder dom har!<h3>

{% endblock %}
