{% extends "base.html.twig" %}

{% block title %}Jeg{% endblock %}

{% block body %}
        <h1>Välkommen</h1>
        <div class="me">
            <h2 class="me-h2">
                Ingen ko på isen, bara lilla jag.
            </h2>
        </div>
        <p>
            Jag heter Simon, jag är pappa, bror, son, man, egenföretagre, omusikalisk (men gillar musik!), göra-saker-med-händerna-afficionado.
            Gällande avocado så har jag tröttnat på prisstegringen och den bristande kvalitén i Sverige, detta är såklart sorgligt, jag gillar <em>verkligen</em> avocado, men är det ens värt att köpa?
            Det lilla krokodilpäronets innre kan dölja trådigt brunt kött och en enorm kärna, detta i kombination med miljöfrågan kopplad till nämnda bär får mig att tveka.
            Om du till exempel vill diskutera avokado, har tips på prisvärda grillar (kolgrill för utomhusbruk), eller vill dela med dig om luftflöde i fristående hus med självdrag <a href="mailto:sidr24@student.bth.se?subject=MailFromMVC">tveka inte</a>!
        </p>
{% endblock %}
