{% extends "base.html.twig" %}

{% block title %}
{% endblock %}

{% block body %}
    <h1>Rapporter från moment</h1>
    <nav class="report-menu">
        <a href="#kmom01">kmom01</a>
    </nav>
    <article class="kmom 01" id="kmom01">
        <h2>KMOM-01</h2>
        <p>
            Jag har jobbat med objektorienterad kod sedan JS-kursen och sedan en djupdykning i OOPythonkursen. Så de mest grundläggande principerna har bankats in. Där verkar inte vara någon större skillnad i PHP.
            Vi skapar klasser med properties och metoder och använder $this-> för att komma åt dem. Insansiering sker också här med nyckelordet new.
            Dock har jag noterat <code>public, protected, private</code> vilket verkar vara en skillnad. I python används '_' och '__' för att indikera skyddade respektive privata instansvariabler eller metoder,
            men där är det är mer av en semantisk åtgärd och inget riktigt skydd. Det verkar fungera anorlunda i PHP. Gällande arv verkar Traits också vara lite anorlunda. Det kommer säkert dyka upp mer.
        </p>
        <p>
            Symfony är överväldigande, det är hundratals filer, vissa är säkert viktigare än andra. Jag gillar att veta vad som händer, men här får jag bara acceptera att till exempel <code>vendor/doctrine/instantiator/src/Doctrine/Instantiator.php</code> är en del av mitt projekt. Fråga inte.
            Ramverk verkar fungera på liknande sätt och jag börjar förstå hur koden är uppdelad. De felmeddelanden jag fått har också varit väldigt informativa, och det har funkat bra att åtgärda problem.
            Paket finns det många, och det är ju bra, jag gillar inte Sass så mycket så jag tänkte testa det igen och det tog inte många sekunder att få igång. Bra grejjor det här med ramverk.
        </p>
        <p>
            “PHP The Right Way” var kanske lite torr som ren lektyr, men har bra exempel och länkar till mer läsning om man undrar över något.
            Just https://refactoring.guru/design-patterns/php som de tipsade om var något jag sett tidigare och letat efter, det var över mitt huvud sist jag såg det, men jag är redo nu.
        </p>
        <p>
            Det var många nya lärdomar. Framförallt att bekanta sig med Symfony var kul.
        </p>
    </article>

{% endblock %}
